@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: #eee;
  border: 0;
  outline: 0;
  background: none;
  box-sizing: border-box;
}

input {
  font-size: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2rem;
  border-radius: 0.25rem;
  transition: 0.15s;
}
.button__square {
  justify-content: center;
  width: 2rem;
}
.button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.25);
}
.button:hover svg {
  stroke: #eee;
}

.button:active {
  background-color: rgba(255, 255, 255, 0.5);
}
